*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
  .header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(./image/back.webp);
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
   
  
  }

  nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center ;
  }
nav img{
  width: 150px;
}
.nav-links{
  flex: 1;
  text-align: right;
}

.nav-links ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-links ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
}

.nav-links ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background :#f44336;
  display: block;
  margin: auto;
  transition: 0.3s ;
}

.nav-links ul li:hover::after{
  width: 100%;
}

.text-box{
text-decoration: none;
  width: 99%;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;

  }

  .text-box h1{
  color: #fff;
  font-size: 62px;
}

.text-box p{
  margin: 10px 0 40px;
  font-size: 16px;
  color: #fff;

}

.hero-btn{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;

}

.hero-btn:hover{
  border: 1px solid #f44336;
  background: #f44336;
  transition: 0.7s;
}

nav .fa{
  display: none;
}

@media(max-width:700px){
  .text-box h1{
    font-size: 30px;
  }
  .text-boxp{
  margin: 10px 0 40px;
  font-size: 8px;
  color: #fff;

}
  .nav-links ul li{
    display: block;
  }
  .nav-links {
    position: absolute;
    background: #f44336;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;


  }
  nav .fa{
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-links ul{
    padding: 20px;
  }
}

/*-------amenities--------*/

.course{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top:100px ;

}

h1{
  font-size: 36px;
  font-weight: 600;


}

p{
  color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding:10px ;
}

.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.course-col{
  flex-basis: 31%;
  background: #fff3f3;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  text-decoration: none;
  transition: 0.5s;
}

h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
  text-decoration: none;

}
.servi{
  display: inline-block;
  max-width: 70%;
  height: 40%;
padding-bottom: 10%;
}
.course-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
}

@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}

/*-----company-----*/

.campus{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 50px;

}

.campus-col{
  flex-basis: 32%;
  border-radius: 10px;
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;


}

.campus-col img{
  width: 100%;
  display: block;
}




.layer{ 
 background:transparent;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.5s;
}

.layer:hover{
  background:rgba(226,0,0,0.7);
}

.layer h3{
  width: 100%;
  font-weight: 580;
  color: #fff;
  font-size: 26px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  opacity: 0;
  transition: 0.5s;
}

.layer:hover h3{
  bottom: 49%;
  opacity: 1;
}

/*--------facilities--------*/

.facilities{
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 100px;

}

.facilities-col{
  flex-basis: 31%;
  border-radius: 10px;
  margin: 5%;
  text-align: center;

}

.facilities-col img{
  width: 100%;
  border-radius: 10px;
}

.facilities-col p{
  padding: o;
}

.facilities-col h3{
  margin-top: 16px;
  margin-bottom: 15px;
  text-align: center;


}


/*-------testimonials------*/

.testimonials{
  width: 80%;
  margin: auto;
  padding-top: 100px;
  text-align: center;

}

.testimonials-col{
  flex-basis: 40%;
  border-radius: 30px;
  margin-bottom: 5%;
  text-align: left;
  background: #fff3f3;
  padding: 25px;
  cursor: pointer;
  display: flex;
}

.testimonials-col img{
  height: 100px;
  margin-left: 5px;
  margin-right: 30px;
  border-radius: 50%;

}

.testimonials-col p{
  padding: 0;
}

.testimonials-col h3{
  margin-top: 15px;
  text-align: left;

}

.testimonials-col .fa{
  color:#f44336 ;
}

@media(max-width: 700px){

.testimonials-col img{
  margin-left: 0px;
  margin-right: 15px;


}
}


/*------booking------*/

.apply{
  width: 90%;
  margin: auto;
  padding-top: 200px;
  text-align: center;

}

.body{
  display: flex;
  margin: 100px auto;
  height: 150vh;
  width: 80%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7ef,#9b59b6);
}
.container{
  max-width: 700px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 5px;
}

.container .title{
  font-size: 25px;
  font-weight: 500;
  position: relative;
}

.container .title::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  background: linear-gradient(135deg, #71b7ef,#9b59b6);
}

.container {
  width: 400px;
  margin 0 auto;
  padding: 50px;
}

div.elem-group {
  margin: 20px 0;
}

div.elem-group.inlined {
  width: 30%;
  display: inline-block;
  
  margin-left: 1%;
}

label {
  display: block;
  font-family: 'Nanum Gothic';
  padding-bottom: 10px;
  font-size: 1.25em;
}

input, select, textarea {
  border-radius: 2px;
  border: 2px solid #777;
  box-sizing: border-box;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  width: 90%;
  padding: 10px;
}

div.elem-group.inlined input {
  width: 90%;
  display: inline-block;
}

textarea {
  height: 100px;
}

hr {
  border: 1px dotted #ccc;
}

button {
  height: 50px;
  background: orange;
  border: none;
  color: white;
  font-size: 1.25em;
  font-family: 'Nanum Gothic';
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  border: 2px solid black;
}
#dot-1:checked ~ .category label .one,
#dot-2:checked ~ .category label .two{
  border-color: #d9d9d9;
  background: #9b59b6 ;
}

form input[type="radio"]{
  display: none;
}

form .button{
  height: 45px;
  margin: 45px 0;
}

form .button input{
  height: 100%;
  width: 100%;
  outline: none;
  color: #fff;
  border: none;
  font-size: 18px;
  font-weight: 500px ;
  letter-spacing: 1px;
  border-radius: 5px;
  background: linear-gradient(135deg, #71b7ef,#9b59b6);


}


form .button input:hover{
    background: linear-gradient(-135deg, #71b7ef,#9b59b6);

}

@media (max-width: 584px){
  .container{
    max-width: 100%;
  }
  form .user-details .input-box{
  margin-bottom: 15px;
  width: 100%;
}
form .gender-details .category{
 width: 100%;
}
.container form .user-details{
  max-height:300px;
  overflow-y: scroll;
}
.user-details::webkit-scrollbar;

}


/*---------call to action-------*/

.cta{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./image/banner1.jpg);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;

}

.cta h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}

@media(max-width: 700px){
  .cta h1{
    font-size: 24px;
  }
}

/*---------footer-------*/

.footer{
  width: 100%;
  text-align: center;
  padding: 30px 0;

}

.footer h4{
  margin-bottom: 25px;
  margin-top: 20px;
  font-weight: 600;
}

.icons .fa{
  color: #f44336;
  margin: 0 13px;
  cursor: pointer;
  padding: 18px 0;
}

.fa-heart-o{
  color: #f44336;
}
/*---------booking page-------*/

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	height: 100vh;
	width: 100%;
}

.container{
	position: relative;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 100px;
}

.container:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	filter: blur(50px);
	z-index: -1;
}
.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
}

.left{
	background: url("img/bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

h2{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

h2:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
	transition: .3s;
}

.btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
	}
}








